/* login.css */

/* Corpo da página - fundo com a imagem */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('/public/images/fundo.svg'); /* Caminho da imagem de fundo */
    background-size: cover; /* Ajusta a imagem para cobrir toda a tela */
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Card de login */
  .card {
    background-color: white; /* Fundo branco para o card */
    padding: 30px;
    border-radius: 12px; /* Bordas arredondadas */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Sombra suave para o card */
    width: 100%;
    max-width: 400px; /* Limitar o tamanho máximo do card */
    text-align: left;
  }

  .login-container img {
    width: 120px; /* Define o tamanho da imagem */
    display: block; /* Torna a imagem um bloco */
    margin: 0 auto; /* Centraliza a imagem horizontalmente */
  }
  
  .card h2 {
    margin-bottom: 10px;
    font-size: 24px; /* Tamanho da fonte do título */
    color: #333; /* Cor do título */
  }

  .card span {
    font-size: 14px;
    color: #777; /* Cor do texto */
    margin-bottom: 20px; /* Espaço entre o texto e os campos de entrada */
  }
  
  /* Estilo dos campos de entrada */
  input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px; /* Bordas arredondadas para os campos */
    font-size: 16px;
    box-sizing: border-box;
  }
  
  /* Estilo do botão de login */
  button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px; /* Bordas arredondadas para o botão */
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Estilo de erro */
  p {
    color: red;
    font-size: 14px;
  }
  
  /* Link de cadastro */
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  